@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

header {
  width: 100%;
  padding-inline: 30px;
  display: flex;
  flex-direction: row;
  margin-block: 20px;
  gap: 20px; }
  header .checkbtn {
    display: none; }
  header .logo {
    grid-area: logo;
    width: 33.33333%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    header .logo img {
      width: 60%; }
  header .buscar {
    grid-area: search;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
    padding: 5px;
    width: 30%; }
    header .buscar:hover input {
      width: 240px; }
    header .buscar input {
      width: 0px;
      height: 40px;
      border: 0;
      position: relative;
      padding: 0 20px;
      font-size: 18px;
      background-color: #00000000;
      outline: none;
      border-radius: 30px;
      transition: all 0.6s ease; }
    header .buscar .btn-buscar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      position: relative;
      top: 0;
      right: 0px;
      line-height: 55px;
      border-radius: 50%;
      text-align: center;
      cursor: pointer; }
      header .buscar .btn-buscar img {
        align-self: center;
        width: 30px;
        height: 30px;
        text-align: center; }
  header .cuenta {
    grid-area: cuenta;
    width: 33.33333%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    /* ver c+omo centrar verticalmente */
    float: right; }
    header .cuenta a {
      width: 28%;
      display: flex;
      font-size: 16px;
      padding-inline: 10px;
      align-items: center;
      text-decoration: none;
      color: white;
      font-weight: 500;
      transition: all 1s; }
      header .cuenta a:hover {
        text-decoration: none;
        font-size: 17px;
        font-weight: 600; }
      header .cuenta a img {
        width: 24px;
        justify-self: center; }
      header .cuenta a.carrito {
        display: flex;
        flex-direction: row;
        justify-content: right;
        width: 10%; }
      header .cuenta a .carrito {
        height: 100%;
        transition: all 1s; }
        header .cuenta a .carrito:hover {
          transform: scale(120%); }

@media (max-width: 780px) {
  header {
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    margin: 0px;
    position: fixed;
    z-index: 1; }
    header .checkbtn {
      display: flex;
      z-index: 1;
      width: 30%; }
      header .checkbtn .burger {
        width: 50px; }
    header .cuenta {
      display: none; }
    header .buscar {
      display: none; }
    header .logo {
      display: flex;
      flex-direction: row;
      justify-content: right;
      width: 70%; }
      header .logo img {
        width: 100px; } }

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px; }
  nav .fondo-nav {
    display: none; }
  nav ul {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.178);
    border-bottom: 2px solid rgba(255, 255, 255, 0.336);
    gap: 15%;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    nav ul .logo-menu {
      display: none; }
    nav ul .menu_item a {
      font-size: 16px;
      text-decoration: none;
      color: white;
      font-weight: 500;
      transition: all 1s; }
      nav ul .menu_item a:hover {
        text-decoration: none;
        font-size: 17px;
        font-weight: 600; }
      nav ul .menu_item a:visited {
        text-decoration: none;
        color: white;
        font-weight: 500;
        transition: all 1s; }
      nav ul .menu_item a.active a {
        font-weight: 800;
        color: white(12, 10, 10); }

@media (max-width: 780px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    height: 100vh; }
    nav .fondo-nav {
      display: flex;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
      margin-top: 10%;
      overflow: hidden; }
      nav .fondo-nav img {
        object-fit: cover; }
    nav #check:checked ~ ul {
      right: 0%; }
    nav ul {
      background-color: black;
      position: fixed;
      display: flex;
      flex-direction: column;
      align-content: top;
      right: 110%;
      width: 100%;
      height: 100%;
      transition: all .5s;
      gap: 5%;
      z-index: 0.5; }
      nav ul .logo-menu {
        display: block; }
      nav ul li {
        display: flex;
        justify-content: center; }
        nav ul li img {
          display: flex;
          justify-content: center; }
        nav ul li a {
          font-size: 20px; }
          nav ul li a:hover, nav ul li a.active {
            background-color: none;
            font-weight: 700; } }

.footer_grid {
  display: grid;
  position: relative;
  float: bottom;
  height: 100%;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.295));
  grid-template-columns: repeat 2, 1fr, 3fr;
  grid-template-areas: "informacion seguinos newsletter";
  margin-top: 20px;
  z-index: 0;
  overflow: hidden;
  padding: 30px; }
  .footer_grid .informacion {
    grid-area: informacion;
    padding-top: 20px;
    margin-left: 20px; }
    .footer_grid .informacion h3 {
      font-weight: 800;
      margin-bottom: 15px;
      font-size: 18px;
      color: white; }
    .footer_grid .informacion ul {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      gap: 5px;
      list-style: none; }
      .footer_grid .informacion ul .informacion-enlace {
        text-decoration: none;
        color: white;
        font-weight: 500;
        transition: all 1s;
        font-size: 16px; }
        .footer_grid .informacion ul .informacion-enlace:visited {
          text-decoration: none;
          color: white;
          font-weight: 500;
          transition: all 1s; }
        .footer_grid .informacion ul .informacion-enlace:hover {
          text-decoration: none;
          font-size: 17px;
          font-weight: 600; }
  .footer_grid .seguinos {
    grid-area: seguinos;
    padding-top: 20px;
    color: white; }
    .footer_grid .seguinos h3 {
      font-weight: 800;
      margin-bottom: 15px;
      font-size: 18px;
      color: white; }
  .footer_grid .redes {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 15px; }
    .footer_grid .redes a img {
      width: 24px;
      transition: all 1s; }
    .footer_grid .redes a:hover img {
      width: 26px; }

.newsletter {
  grid-area: newsletter;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px; }
  .newsletter p {
    font-size: 16px; }
  .newsletter form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px; }
    .newsletter form .nws-email {
      width: 300px;
      height: 30px; }
    .newsletter form .nws-button {
      width: 100px;
      height: 30px; }

/* Index */
body {
  background-image: url(./../../assets/imagenes/empty-dark-grey-wall-with-texture-good-for-background.jpg);
  font-family: "Lato", sans-serif; }

#check {
  display: none; }

.home_grid {
  display: grid;
  height: 140vh;
  width: 100%;
  background-image: url(./../../assets/imagenes/1.jpg);
  background-size: 140%;
  background-repeat: no-repeat;
  background-position-x: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat 4, 1fr;
  grid-template-areas: "info fondo" "info fondo" "info fondo" "info fondo"; }
  .home_grid .fondo {
    grid-area: fondo;
    width: 100%;
    background-size: 140%;
    background-repeat: no-repeat;
    background-position-x: right; }
    .home_grid .fondo .fondo-efecto {
      position: relative;
      z-index: 1;
      height: 100%;
      display: flex;
      align-content: stretch; }
      .home_grid .fondo .fondo-efecto img {
        width: 100%;
        animation-name: fondo;
        animation-duration: 5s;
        animation-iteration-count: infinite; }

@keyframes fondo {
  from {
    filter: opacity(90%); }
  25% {
    filter: opacity(70%); }
  50% {
    filter: opacity(30%); }
  to {
    filter: opacity(0%); } }
  .home_grid .info {
    grid-area: info;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .home_grid .info .info_fondo {
      background-color: #ffffff1e;
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      .home_grid .info .info_fondo .info_boton {
        display: flex;
        width: 90%;
        height: 100px;
        justify-content: center;
        align-content: center;
        padding-top: 20px; }
        .home_grid .info .info_fondo .info_boton a {
          text-decoration: none;
          color: black;
          background-color: white;
          width: 130px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .home_grid .info .info_fondo .info_boton a:hover {
            background-color: wheat; }
      .home_grid .info .info_fondo h1 {
        color: white;
        font-size: 100px;
        font-weight: 800; }
      .home_grid .info .info_fondo p {
        margin-top: 30px;
        color: white;
        text-align: justify;
        width: 90%; }

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-inline: 20px; }
  .botones.mobile {
    display: none; }
  .botones .boton {
    background-image: url(./../../assets/imagenes/empty-dark-grey-wall-with-texture-good-for-background.jpg);
    width: 30%;
    height: 300px;
    border-radius: 10px;
    background-size: 180%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; }
    .botones .boton .boton-enlace {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding-bottom: 20px;
      align-items: center;
      color: white;
      text-decoration: none;
      font-size: 20px;
      transition: all 2s;
      font-weight: 500; }
      .botones .boton .boton-enlace:hover {
        text-decoration: none;
        color: white;
        font-weight: 800; }
        .botones .boton .boton-enlace:hover img {
          width: 110%; }
      .botones .boton .boton-enlace img {
        width: 100%;
        transition: all 1s; }

hr {
  margin-inline: auto;
  margin-block: 100px;
  width: 80%;
  height: 2px;
  background-color: white; }

.info-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
  gap: 200px;
  align-items: center; }
  .info-bottom div .box {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 8px;
    align-items: center;
    color: white; }
    .info-bottom div .box img {
      width: 40px; }
    .info-bottom div .box .credit-cards {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .info-bottom div .box .credit-cards img {
        width: 30px;
        height: 30px; }

@media (max-width: 780px) {
  .home_grid {
    display: none; }
  .botones {
    display: none; }
    .botones.mobile {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      margin-inline: 0; }
    .botones .boton.mobile {
      background-image: url(./../../assets/imagenes/empty-dark-grey-wall-with-texture-good-for-background.jpg);
      width: 100%;
      height: 50vh;
      border-radius: 0px;
      background-size: 180%;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .botones .boton.mobile .boton-enlace.mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        font-size: 12px; }
        .botones .boton.mobile .boton-enlace.mobile img {
          width: 30%; }
        .botones .boton.mobile .boton-enlace.mobile a {
          text-decoration: none;
          color: white;
          font-weight: 500;
          transition: all 1s;
          font-size: 12px; }
          .botones .boton.mobile .boton-enlace.mobile a:focus {
            text-decoration: none;
            font-size: 17px;
            font-weight: 600; }
            .botones .boton.mobile .boton-enlace.mobile a:focus img {
              width: 105%; }
  hr {
    margin-inline: auto;
    margin-top: 25px;
    margin-bottom: 40px;
    height: 2px;
    background-color: black; }
  .info-bottom {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    gap: 50px; }
    .info-bottom div .box img {
      width: 32px; }
    .info-bottom div .box h3 {
      font-size: 12px; }
    .info-bottom div .box p {
      font-size: 12px; }
  .footer_grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0px; }
    .footer_grid .informacion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 0; }
      .footer_grid .informacion h3 {
        font-size: 12px; }
      .footer_grid .informacion ul li .informacion-enlace {
        font-size: 10px; }
        .footer_grid .informacion ul li .informacion-enlace:visited {
          font-size: 10px; }
    .footer_grid .seguinos {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      font-size: 10px;
      margin-top: 20px; }
      .footer_grid .seguinos h3 {
        font-size: 12px; }
      .footer_grid .seguinos .redes {
        display: flex;
        justify-content: center;
        gap: 10px; }
        .footer_grid .seguinos .redes a img {
          width: 20px; }
    .footer_grid .newsletter {
      margin-top: 20px;
      display: flex;
      background-color: black;
      flex-direction: column;
      font-size: 12px;
      border-radius: 0px;
      justify-content: center;
      text-align: center;
      align-items: center;
      height: 120%;
      width: 100%; }
      .footer_grid .newsletter h3 {
        font-size: 12px; }
      .footer_grid .newsletter p {
        font-size: 10px; }
      .footer_grid .newsletter form {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center; }
        .footer_grid .newsletter form .nws-email {
          width: 100%;
          font-size: 10px;
          height: 30px;
          transition: all 1s; }
          .footer_grid .newsletter form .nws-email:focus {
            background-color: black;
            color: white;
            border-color: white;
            box-shadow: black;
            border-radius: 2px;
            outline: none; }
        .footer_grid .newsletter form .nws-button {
          width: 70%;
          height: 40px;
          justify-self: center;
          font-size: 12px;
          transition: all 1s; }
          .footer_grid .newsletter form .nws-button:focus {
            background-color: black;
            color: white; }
  .footer_grid .newsletter form .nws-email {
    width: 200px; }
  .footer_grid .newsletter form .nws-button {
    width: 200px;
    height: 30px; } }

/* Productos */
.story {
  margin: 20px;
  font-size: 18px;
  color: white; }
  .story a {
    text-decoration: none;
    color: grey;
    transition: 1s; }
  .story:hover {
    color: white;
    font-weight: 600; }

.container {
  object-fit: fill;
  margin-top: 20px; }
  .container .container-img {
    width: 80%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; }
    .container .container-img .box-img {
      overflow: hidden;
      position: relative;
      display: inline-block;
      text-align: center;
      width: 100%;
      height: 100%; }
      .container .container-img .box-img .datos-prod {
        color: white;
        text-decoration: none;
        position: absolute;
        padding: 10px;
        top: 85%;
        font-size: 150%;
        background-color: rgba(0, 0, 0, 0.367);
        width: 100%; }
      .container .container-img .box-img figure {
        width: 100%;
        height: 100%; }
        .container .container-img .box-img figure img {
          width: 100%;
          height: 100%; }
      .container .container-img .box-img a img {
        transition: all 2s; }
      .container .container-img .box-img a:hover img {
        transform: scale(105%);
        overflow: hidden; }
      .container .container-img .box-img:nth-child(1) {
        grid-column-start: span 2;
        grid-row-start: span 2; }
      .container .container-img .box-img:nth-child(3) {
        grid-row-start: span 2; }

@media (max-width: 380px) {
  .story {
    font-size: 10px; }
  .container {
    display: flex;
    flex-direction: column; }
    .container .container-img {
      display: flex;
      flex-direction: column;
      gap: 10px; }
      .container .container-img .box-img {
        display: flex;
        flex-direction: column;
        justify-items: center;
        height: 200px;
        border-radius: 10px; }
        .container .container-img .box-img .datos-prod {
          top: 70%; }
          .container .container-img .box-img .datos-prod h5 {
            font-size: 12px; }
          .container .container-img .box-img .datos-prod h6 {
            font-size: 10px;
            font-weight: 400; } }
