
$lato: 'Lato', sans-serif;
$border-radius: 5px;

$font-p: (
    desktop: 16px,
    mobile: 12px,
);

$font-title: (
    desktop: 18px,
    mobile: 14px,
);

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
};

@mixin flex-row-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
};

@mixin flex-row-right{
    display: flex;
    flex-direction: row;
    justify-content: right;
};

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

@mixin flex-column-left{
    display: flex;
    flex-direction: column;
    align-content: left;
    align-items: left;
}

$complete: 100%;



@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-items: center;
}

@mixin icon-desktop {
    width: 30px;
    height: 30px;
}

@mixin enlace{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: all 1s;
}

@mixin enlace-hover{
    text-decoration: none;
    font-weight: 600;
}

@mixin enlace-disabled {
    text-decoration: none;
    color: grey;
    transition: 1s;
}

@mixin boton {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.195);
    border-radius: 2px;
    border: none;
    font-weight: 600;
    transition: all .5s;
}

@mixin boton-hover{
    background-color: rgba(0, 0, 0, 0.254);
    color: rgb(200, 141, 141);    
}




