
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "./layouts/normalize";
@import "./variables/_vars";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/footer";


/* Index */
body{
    background-image: url(./../../assets/imagenes/empty-dark-grey-wall-with-texture-good-for-background.jpg);
    font-family: $lato;
}
    
#check{
    display: none;    
}


.home_grid{
    display: grid;
    height: 140vh;
    width: 100%;
    background-image: url(./../../assets/imagenes/1.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
    background-position-x: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat (4,1fr);
    grid-template-areas: 
    "info fondo"
    "info fondo"
    "info fondo"
    "info fondo";

    .fondo {
        grid-area: fondo;
        width: 100%;
        background-size: 140%;
        background-repeat: no-repeat;
        background-position-x: right;

            .fondo-efecto {
            position: relative;
            z-index: 1;
            height: 100%;
            display: flex;
            align-content: stretch;

                img{
                    width: 100%;
                    animation-name: fondo;
                    animation-duration: 5s;
                    animation-iteration-count: infinite ;

                    @keyframes fondo{
                        from {filter: opacity(90%)}
                        25%{filter: opacity(70%);}
                        50%{filter:opacity(30%)}
                        to{ filter: opacity(0%);}
                    } 
                }
            }
    }

    .info {
        grid-area: info;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .info_fondo {
            background-color: #ffffff1e;
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;   
            
            .info_boton{
                display: flex;
                width: 90%;
                height: 100px;
                justify-content: center;
                align-content: center;
                padding-top: 20px;
    
                a {
                    text-decoration: none;
                    color: black;
                    background-color: white;
                    width: 130px;
                    height: 30px; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    &:hover{
                        background-color: wheat;    
                        }
                }
             }

                h1{
                    color: white;
                    font-size: 100px;
                    font-weight: 800;
                }

                p{
                    margin-top: 30px;
                    color: white;
                    text-align: justify;
                    width: 90%;
                }       
        }

       
    }
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-inline: 20px;


    .boton {
        background-image: url(./../../assets/imagenes/empty-dark-grey-wall-with-texture-good-for-background.jpg);
        width: 30%;
        height: 300px;
        border-radius: 10px;
        background-size: 180%;
        background-repeat: no-repeat;
        display: flex;  
        justify-content: center;
        align-items: center;

        .boton-enlace {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding-bottom: 20px;
            align-items: center;
            color: white;
            text-decoration: none;
            font-size: 20px;
            transition: all 2s;
            font-weight: 500;
            
            &:hover{
                text-decoration: none;
                color: rgba(255, 255, 255, 0);
                font-weight: 800;

                img{
                    width: 60%;
                }
            } 
                
            img{
                width: 50%;
                transition: all 1s;
                }
        }

    }
               
}
    

hr {
    margin-inline: auto;
    margin-block: 100px;
    width: 80%;
    height: 2px;
    background-color: white;
}

.info-bottom{
    @include flex-row-center;
    width: $complete;
    margin-bottom: 100px;
    gap: 200px;
    align-items: center;

        div{
            .box{
               @include flex-column-center;
                gap: 8px;
                align-items: center;
                color: white;

                img {
                    width: 40px;
                }

                .credit-cards {
                    @include flex-row-center;

                    img{
                        @include icon-desktop;
                    }
                }
            }
        }

}

$breakpoint-mobile: 380px;
$breakpoint-tablet: 780px;
@media (max-width: $breakpoint-tablet) {
 
    .home_grid{
        display: none
    }


    .botones{

      @include flex-column-center;
      gap: 10px;
      border-radius: 2px;
      

        .boton{
           
                background-image: url(./../../assets/imagenes/empty-dark-grey-wall-with-texture-good-for-background.jpg);
                width: $complete;
                height: 50vh;
                border-radius: 0px;
                background-size: $complete + 80%;
                background-repeat: no-repeat;
                border-radius: 5px;
                @include flex-row-center;
                align-items: center;

                .boton-enlace{
                    
                        display: flex;
                        flex-direction: column;
                        width: $complete;
                        height: 200px;
                        font-size: map-get($font-title, mobile);

                        img{
                            width: $complete - 70%;
                        }

                        a {
                           @include enlace;
                            font-size: map-get($font-title, mobile);

                            &:focus {
                               @include enlace-hover;

                                img{
                                    width:  50px;
                                }
                            }
                        }
                    }
                }
            }
        }
    

    hr{
        margin-inline: auto;
        margin-top: 25px;
        margin-bottom: 40px;
        height: 2px;
        background-color: black;
    }

    .info-bottom{
     @include flex-column-center;
        width: $complete;
        gap: 50px;

        div{
            .box {
                img{
                    width: 32px ;
                }

                h3{
                    font-size: map-get($font-title, mobile);
                }

                p{
                    font-size: map-get($font-p, mobile);
                }
            }
        }
    }

    



/* Productos */

.story{
    margin: 20px;
    font-size: map-get($font-title, desktop);
    color: white;

    a{
        @include enlace-disabled;

        &:hover{
            @include enlace-hover;
        }
    }

   
}

.container{
    object-fit: fill;
    margin-top: 20px;

    .container-img{
        width: 80%;
        height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

        .box-img{
            overflow: hidden;
            position: relative;
            display: inline-block;
            text-align: center;
            width: 100%;
            height: 100%;   

            .datos-prod{
                @include enlace;
                position: absolute;
                padding: 10px;
                top:85%;
                font-size: 150%;
                background-color: rgba(0, 0, 0, 0.367);
                width: 100%;
            }

            figure{
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            a{
                img{
                    transition: all 2s;
                }

                &:hover{
                    img{
                        transform: scale(105%);
                        overflow: hidden;
                    }
                }
            }

            &:nth-child(1){
                grid-column-start: span 2;
                grid-row-start: span 2;
            }

            &:nth-child(3){
                grid-row-start: span 2;
            }
        }
    }
}

@media (max-width: $breakpoint-mobile){

    .story{
        font-size: map-get($font-title, mobile);
    }
    .container{
        @include flex-column-center;
    
    .container-img{
        @include flex-column-center;
        gap: 10px;

        .box-img{
            @include flex-column-center;
            height: 200px;
            border-radius: 10px;

            .datos-prod{
                top: 70%;
                h5 {
                    font-size: map-get($font-title, mobile);
                }

                h6{
                    font-size: map-get($font-title, mobile);
                    font-weight: 400;
                }
                
            }
        }
    }
}

}
